doctype
html(lang="fr")
  head
    meta(charset="utf-8")
    title MAL
    //- BootStrap 3
    link(rel="stylesheet", href="./bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="./bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
    //- AngularJS
    script(src="./bower_components/spin.js/dist/spin.min.js")
    script(src="./bower_components/angular/angular.min.js")
    script(src="./bower_components/angular-route/angular-route.min.js")
    script(src="./bower_components/angular-spinner/angular-spinner.min.js")
    script(src="./bower_components/ngstorage/ngStorage.min.js")
    //- My files
    link(rel="stylesheet", href="./styles/style.css")
    script(src="./scripts/main.js")
    script
      window.addEventListener('keydown',function(e){if(e.keyIdentifier==='F12'){require('nw.gui').Window.get().showDevTools();}});
      window.addEventListener('keydown',function(e){if(e.keyIdentifier==='F5'){require('nw.gui').Window.get().reload();}});
  body(ng-app="App", ng-controller="AppCtrl")
    #login(ng-if="isNotConnect()"): include ./views/login.jade
    #loading(ng-if="ifLoading()", us-spinner="{color:'#f4f4f4'}")
    #sidebar.col-xs-2
      h2 Anime
      ul.nav.nav-pills.nav-stacked
        li: a(href="#/anime/all", actual) All
          span.badge {{ counter('anime', 'all') }}
        li: a(href="#/anime/watching", actual) Watching
          span.badge {{ counter('anime', 'watching') }}
        li: a(href="#/anime/completed", actual) Completed
          span.badge {{ counter('anime', 'completed') }}
        li: a(href="#/anime/onhold", actual) On-hold
          span.badge {{ counter('anime', 'onhold') }}
        li: a(href="#/anime/dropped", actual) Dropped
          span.badge {{ counter('anime', 'dropped') }}
        li: a(href="#/anime/plantowatch", actual) Plan To Watch
          span.badge {{ counter('anime', 'plantowatch') }}
      h2 Manga
      ul.nav.nav-pills.nav-stacked
        li: a(href="#/manga/all", actual) All
          span.badge {{ counter('manga', 'all') }}
        li: a(href="#/manga/reading", actual) Reading
          span.badge {{ counter('manga', 'reading') }}
        li: a(href="#/manga/completed", actual) Completed
          span.badge {{ counter('manga', 'completed') }}
        li: a(href="#/manga/onhold", actual) On-hold
          span.badge {{ counter('manga', 'onhold') }}
        li: a(href="#/manga/dropped", actual) Dropped
          span.badge {{ counter('manga', 'dropped') }}
        li: a(href="#/manga/plantoread", actual) Plan To Read
          span.badge {{ counter('manga', 'plantoread') }}
    #container.col-xs-10
      #toolbar.row
        form.col-xs-4
          input.form-control(type="text",placeholder="Search an Anime")
        form.col-xs-4
          input.form-control(type="text",placeholder="Search a Manga")
        #settings.col-xs-4
          a.glyphicon.glyphicon-list(ng-click="toList()", ng-class="{active: isList()}") &nbsp;
          a.glyphicon.glyphicon-th(ng-click="toThumbnails()", ng-class="{active: isThumbnails()}") &nbsp;
          a.glyphicon.glyphicon-log-out(ng-click="logout()") &nbsp;
        .col-xs-2
      #content(ng-view)
