@import "compass"

body
  background-color: #222222

// Sidebar
$SidebarGeneralColor: #e6e6e6

#sidebar
  position: fixed
  top: 0
  bottom: 0
  left: 0
  >h2
    color: $SidebarGeneralColor
  a
    color: darken($SidebarGeneralColor, 5%)
    &:hover
      background-color: darken($SidebarGeneralColor, 5%)
      color: #343434
  .active a:hover
    background-color: darken(#428bca, 5%)

#container
  background-color: #d3d3d3
  position: fixed
  top: 0
  bottom: 0
  right: 0

#toolbar
  background-color: #f3f3f3
  padding: 5px
