h1 {{status}} {{type}}
div(ng-show="$storage.thumbnails")
  .thumbnail(ng-repeat="item in items |status:status |orderBy:'title'")
    img(src="{{item.image_url}}")
    main
      h4: a(title="{{item.title}}", href="#/{{type}}/view/{{item.id}}", ng-bind-html="item.title")
      p {{item.type}}
      h6
        a(ng-if="picker.id != item.id", ng-click="showPicker(item.id)") {{item.chapters_read}}{{item.watched_episodes}}/{{item.episodes}}{{item.chapters}}
        button(style="font-weight: bold;", ng-if="picker.id == item.id", ng-click="picker.id=0") X
        picker(ng-if="picker.id == item.id", model="picker.value[type + item.id]", item="item", click-ok="update(item.id)")
        a(style="margin-left:5px", ng-if=" (type == 'anime' && item.watched_status != 'completed' && item.watched_status != 'dropped') || (type == 'manga' && item.read_status != 'completed' && item.read_status != 'dropped')", ng-click="addOne(item.id)") +
