main
  h3 Connect to your account
  form.form-group(ng-submit="connect()")
    label.control-label(for="loginUser") Username:
    input.form-control(autofocus, type="text", ng-model="login.username")
    label.control-label(for="loginPassword") Password:
    input.form-control(type="password", ng-model="login.password")
    input.btn.btn-primary(type="submit", name="login", value="Log In")
    .alert.alert-danger(ng-if="loginError") {{loginErrorMessage}}
